html, body {
    margin: 0;
    overflow: hidden auto;
    font-family: Inter;
    color: #434343;
    background-color: #F9F9F9;
}

.mobile {
    display: none;
}

input[type="text"] {
    background: #ffffff;
    border: 2px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 30px;
    width: 100%;
    height: 50px;
    font-family: Inter;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A9A9A9;
    opacity: 1; /* Firefox */
}

input[type="text"].input__error {
    border: 2px solid #E14747;
    background: #fff url(../media/error.svg) 95% 50% no-repeat
}

input[type="text"].input__error:focus {
    border: 2px solid #FFDF11;
    background: unset;
}

input[type="text"]:focus {
    border: 2px solid #FFDF11;
}

*:focus {
    outline: none;
}

button {
    background: #FFDF11;
    height: 50px;
    color: #434343;;
    border: none;
    border-radius: 88px;
    padding: 14px 30px;
    font-family: Inter;
    letter-spacing: 0.032em;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;
    text-transform: uppercase;
}

button:disabled {
    background: #EEE;
    color: #868686;
    cursor: unset;
}

button.btn-video {
    background: #fff;
    width: 230px;
    height: 60px;
    padding: 0;
    padding-left: 20px;
    -webkit-box-shadow: 0px 0px 77px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 77px -21px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 77px -21px rgba(0, 0, 0, 0.75);
}

button.btn-video img {
    position: absolute;
    width: 32px;
    height: 32px;
    transition: 300ms;
    top: 24%;
    left: 7%;
}

button.btn-video:hover {
    width: 270px;
    height: 70px;
    font-size: 16.6px;
    -webkit-box-shadow: 0px 0px 77px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 77px -21px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 77px -21px rgba(0, 0, 0, 0.75);
}

button.btn-video:hover img {
    width: 37px;
    height: 37px;
}

.form-radio {
    width: 100%;
    border: 2px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex-direction: column;
}

.form-radio input {
    width: 100%;
}

.form-radio label {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #E3E3E3;
    height: 50px;
    cursor: pointer;
    transition: 100ms;
}

.form-radio label:hover {
    background-color: #F3F3F3;
}

.form-radio label:last-child {
    border-bottom: unset;
}

.form-radio input:last-child {
    border-bottom: unset;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 2px;
    width: 16px;
    height: 16px;
    background-image: url("../media/checkbox_empty.svg");
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    width: 16px;
    height: 16px;
    left: 0px;
    top: 2px;
    background-image: url("../media/checkbox_ok.svg");
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

input[type="checkbox"]:checked .checkbox-name + label:after {
    color: #434343;
}

.form-checkbox {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-name {
    padding-left: 20px;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    color: #868686;
}

.checkbox-box {
    width: 137px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.icon {
    width: 16px;
    height: 16px;
    position: absolute;
    background-repeat: no-repeat;
}

.img_whatsapp {
    background-image: url("../media/whatsapp.svg");
    background-size: 100%;
}

.img_telegram {
    background-image: url("../media/telegram.svg");
    background-size: 100%;
}

.img_email {
    background-image: url("../media/mail_blue.svg");
    background-size: 100%;
    background-position-y: 3px;
}

.img_sms {
    background-image: url("../media/message.svg");
    background-size: 100%;
}

.img_phone {
    background-image: url("../media/phone_green.svg");
    background-size: 100%;
}

.form-checkbox {

}

.radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.radio__text {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.radio__text:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -16px;
    width: 5px;
    height: 52px;
    background: #FFB400;
    opacity: 0;
    transition: .2s;
}

.radio:first-child .radio__text::after {
    border-top-left-radius: 5px;
}

.radio input:checked + .radio__text:after {
    opacity: 1;
}

.menu .tab-link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    margin-top: 24px;
    cursor: pointer;
}

.menu .tab-link p {
    margin: 0;
    margin-left: 12px;
}

.ring {
    width: 24px;
    height: 24px;
    transition: 300ms;
}

.ring_black {
    background-image: url("../media/ring_black.svg");
}

.ring_gold {
    background-image: url("../media/ring_gold.svg");
}

.separate {
    width: 100%;
    margin-top: 36px;
    border-bottom: 2px solid #CBCBCB;
}

.main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #FFC911;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    left: 40%;
    background-color: #fff;
    transition: 300ms;
}

.main-open {
    left: 0;
}

.background-main {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.background-main .back-man {
    position: absolute;
    height: 1010px;
    bottom: 0;
    left: calc(30% - 500px);
}

.background-main .back-title {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    position: absolute;
    bottom: 180px;
    width: 400px;
    left: 60px;
}

.background-main .btn-video {
    position: absolute;
    left: 60px;
    bottom: 70px;
    transition: 300ms;
}

.background-main .btn-video:hover {
    position: absolute;
    left: 60px;
    bottom: 70px;
}

.left {
    width: 60%;
    height: 100%;
    background-color: #F9F9F9;
    position: fixed;
}

.left-open {
    width: 45%;
}

.left .left-container {
    padding: 50px;
    padding-bottom: 0;
    height: 100%;
}

.left .logo {
    width: 255px;
    height: 86px;
}

.left .logo img {
    width: 100%;
}

.left .title-1 {
    max-width: 500px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    margin: 40px 0;
}

.title-2 {
    margin-top: 10%;
    margin-bottom: 0px;
    font-size: 36px;
}

.links {
    margin-top: 26px;
}

.links a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #434343;
    cursor: pointer;
    text-decoration: none;
    margin-right: 9%;
}

.contacts {
    margin-top: 70px;
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 500;
    display: flex;
}

.contacts p {
    margin-right: 55px;
    padding-left: 30px;
    cursor: pointer;
    line-height: 20px;
}

.contacts .phone {
    background: url(../media/phone_black.svg) 0% 0% no-repeat;
    transition: 300ms;
}

.contacts .phone:hover {
    color: #434343;
    background: url(../media/phone_green.svg) 0% 0% no-repeat;
}

.contacts .email {
    background: url(../media/mail_black.svg) 0% 50% no-repeat;
    transition: 300ms;
}

.contacts .email:hover {
    color: #434343;
    background: url(../media/mail_blue.svg) 0% 50% no-repeat;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.coop {
    font-weight: 500;
    font-size: 12px;
    color: #8D8D8D;
    margin-top: 20px;
}

.coop a, .opd a {
    color: #8D8D8D;
    transition: 300ms;
}

.coop a:hover, .opd a:hover {
    color: #4393F9;
}

.coop p {
    margin: 0;
}

.social {
    display: flex;
    align-items: flex-end;
}

.social * {
    width: 25px;
    height: 22px;
    margin-left: 15px;
    cursor: pointer;
    transition: 300ms;
}

.social .vk {
    background: url(../media/vk.svg) 0% 0% no-repeat;
    height: 18px;
    width: 24px;
}

.social .vk:hover {
    background: url(../media/vk_black.svg) 0% 0% no-repeat
}

.social .facebook {
    background: url(../media/facebook.svg) 0% 0% no-repeat;
    height: 22px;
    width: 10px;
}

.social .facebook:hover {
    background: url(../media/facebook_black.svg) 0% 0% no-repeat
}

.social .instagram {
    background: url(../media/instagram.svg) 0% 0% no-repeat;
    height: 22px;
    width: 24px;
}

.social .instagram:hover {
    background: url(../media/instagram_black.svg) 0% 0% no-repeat
}

.social .youtube {
    background: url(../media/youtube.svg) 0% 0% no-repeat;
    height: 20px;
    width: 24px;
}

.social .youtube:hover {
    background: url(../media/youtube_black.svg) 0% 0% no-repeat
}

.right {
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: 50px;
}

.tab {
    width: 55%;
    height: 100%;
    background-color: #fff;
    display: none;
    position: absolute;
    right: -50%;
    transition: 300ms;
}

.tab-container {
    padding: 60px 100px;
    background-color: #fff;
}

.tab-open {
    right: 0;
}

.tab-5 .content-block input {
    margin-bottom: 30px;
}

.box-human {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 281px;
    border-radius: 16px;
    color: #fff;
    margin-bottom: 75px;
    -webkit-box-shadow: 0px 20px 50px -15px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 20px 50px -15px rgba(0, 0, 0, 0.39);
    transition: 300ms;
}

.box-human:hover {
    -webkit-box-shadow: 0px 20px 50px -15px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 20px 50px -15px rgba(0, 0, 0, 0.6);
}

.box-human .box-human-container {
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 80px);
}

.box-human .box-human-container .human__title {
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.01em;
    width: 251px;
    margin: 0;
}

.box-human .box-human-container .human__fio {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.01em;
    margin-bottom: 10px;
}

.box-human .box-human-container .human__sub {
    font-size: 14px;
    letter-spacing: -0.01em;
    margin: 0;
}

.box-human__1 {
    background-color: #6C7773;
    background-image: url(../media/3.png);
    background-repeat: no-repeat;
    background-position-y: 0%;
    background-position-x: 110%;
    background-size: contain;
}

.box-human__2 {
    background-color: #D6B8B6;
    background-image: url(../media/2.png);
    background-repeat: no-repeat;
    background-position-y: 0%;
    background-position-x: 110%;
    background-size: contain;
}

.box-human__3 {
    background-color: #A3B2C7;
    background-image: url(../media/1.png);
    background-repeat: no-repeat;
    background-position-y: 0%;
    background-position-x: 110%;
    background-size: contain;
}

.box-test {
    width: 100%;
    height: 281px;
    border-radius: 16px;
    color: #fff;
    margin-bottom: 40px;
}

.box-test .box-test-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab-5 .box-test .box-test-container {
    margin: -15px -15px -15px 0;
}

.box-test .box-test__top .box-test__number {
    font-weight: 800;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.box-test .box-test__top .test__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.02em;
}

.box-test .box-test-container img {
    width: 80px;
    height: 80px;
}

.box-test__1 {
    background: linear-gradient(60.82deg, #BBB59A 4.87%, #D8D2B4 93.6%);
}

.box-test__2 {
    background: linear-gradient(60.82deg, #B8A3C5 4.87%, #CFC0DC 93.6%);
}

.box-test__3 {
    background: linear-gradient(60.82deg, #D48A8A 4.87%, #FCB2BC 93.6%);
}

.box-test__4 {
    background: linear-gradient(60.82deg, #84CAAB 4.87%, #83E4A7 93.6%);
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 24px;
    height: 24px;
    background-image: url("../media/close.svg");
    cursor: pointer;
}

.content-block {
    margin-bottom: 80px;
}

.content-block button {
    margin-top: 50px;
    margin-bottom: 30px;
}

.label-text {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 20px;
}

.label-text-tiny {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 20px;
}

.label-text__success {
    color: #3BBDA6;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}

.content-block .label-text-tiny {
    margin-top: 40px;
}

.major-block {
    background-color: #FAFAFA;
    border-left: 3px solid #FFB400;
    margin-bottom: 20px;
}

.major-block__success {
    background-color: #FAFAFA;
    border-left: 3px solid #3BBDA6;
    margin-bottom: 20px;
}

.major-block__success .major-text {
    padding: 20px 22px;
    font-weight: 500;
}

.major-block .major-text {
    padding: 20px 22px;
    font-weight: 500;
}

.price-inv {
    font-weight: 600;
    font-size: 36px;
    margin: 6px 0;
    text-decoration: none;
    color: #434343;
}

.ui-slider.ui-slider-horizontal {
    background: #F4F4F4;
    height: 20px;
    border: none;
    border-radius: 50px;
}

.ui-slider .ui-slider-handle {
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    font-weight: normal;
    border: none;
    background-color: #fff;
    color: #ffffff;
}

.ui-slider .ui-slider-range {
    background: #FFDF11;
    height: 20px;
    border: none;
    border-radius: 50px;
}

.ui-widget.ui-widget-content {
    border-radius: 50px;
}

.range-labels {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 13px;
}

.range-labels .range-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #979797;
}

.opd {
    margin-top: 30px;
    max-width: 310px;
    color: #8D8D8D;
    font-weight: 500;
    font-size: 12px;
    line-height: 138%;
}

.social-links {
    margin: 70px 0px;
    margin-top: -20px;
}

.social-links .social * {
    margin-left: 0;
    margin-right: 15px;
}

.social-news {
    display: flex;
    flex-wrap: wrap;
}

.social-news .social-news-item {
    width: 170px;
    height: 170px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.social-news .social-news-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.popup-video {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2a2a2a91;
}

.popup-video .video-box {
    opacity: 1;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-video .video-box .close-video {
    position: absolute;
    top: -30px;
    right: 0;
    color: #fff;
    cursor: pointer;
}


@media (min-height: 900px) {
    .bottom-menu {
        position: absolute;
        width: calc(100% - 100px);
        bottom: 0;
        margin-bottom: 20px;
    }
}

@media (max-height: 900px) {
    .background-main .back-man {
        height: 800px;
        left: calc(50% - 500px);
    }

    .left .title-1 {
        margin-bottom: 0;
    }

    .title-2 {
        margin-top: 30px;
    }

    .contacts {
        margin-top: 10px;
    }

    .background-main .back-title {
        bottom: 110px;
    }
}

@media (max-height: 775px) {
    .left .title-1 {
        margin-top: 10px;
    }
}

@media (max-height: 750px) {
    .left .title-1 {
        font-size: 38px;
    }

    .background-main .back-man {
        height: 700px;
    }
}

@media (max-width: 1200px) {
    .desktop {
        display: none!important;
    }

    .mobile {
        display: block;
    }

    .main-container {
        /*display: flex;*/
        justify-content: center;
    }

    .close {
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        padding: 11px;
        background-color: #fff;
        background-image: url(../media/close.svg);
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .left {
        position: relative;
    }

    .left .logo {
        width: 105px;
        margin: auto;
    }

    .box-human .box-human-container {
        padding: 20px 16px;
        height: calc(100% - 40px);
        width: 180px;
    }

    .box-human__1 {
        background-position-x: 110%;
    }

    .box-human__2 {
        background-position-x: 100%;
    }

    .box-human__3 {
        background-position-x: 120%;
    }

    .label-text {
        font-size: 20px;
    }

    .content-block {
        margin-bottom: 45px;
    }

    .content-block .label-text-tiny {
        font-size: 16px;
    }

    .social-news .social-news-item {
        width: 95px;
        height: 95px;
        margin-right: 1px;
        margin-bottom: 1px;
    }

    .major-block .major-text {
        padding: 20px 15px;
        font-size: 14px;
    }

    .major-block__success .major-text {
        padding: 20px 15px;
        font-size: 14px;
    }

    .box-test {
        border-radius: 0;
        margin-bottom: -2px;
        width: 100%;
        height: unset;
    }

    .box-test .box-test-container {
        padding: 30px 15px;
    }

    .box-test .box-test-container img {
        width: 48px;
        height: 48px;
    }

    .box-test .box-test__top .box-test__number {
        font-size: 10px;
    }

    .box-test .box-test__top .test__title {
        font-size: 18px;
    }

    .content-block button {
        width: 100%;
    }

    .background-main {
        width: calc(100% - 30px);
        height: 300px;
        border-radius: 15px;
        position: absolute;
        z-index: 2;
        top: 70px;
        margin: 0 15px;
        background-color: #FFC911;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .background-main .back-title {
        font-size: 32px;
        bottom: 40px;
        width: unset;
        left: unset;
        text-align: center;
    }

    .background-main .back-ring {
        height: 50%;
        position: absolute;
        left: 0;
    }

    .background-main .back-man {
        position: absolute;
        height: 330px;
        transform: translate(50%, 0%);
    }

    .main {
        left: 0;
    }

    .left {
        width: 100%;
    }

    .left-open {
        display: none;
    }

    .left .left-container {
        padding: 15px;
        max-width: 330px;
        /*display: flex;*/
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .left .title-1 {
        font-size: 28px;
        margin-top: 350px;
        margin-bottom: 50px;
    }

    .title-2 {
        font-size: 20px;
        margin-top: 0;
    }

    .ring {
        position: absolute;
    }

    .tab {
        width: 100%;
        z-index: 3;
    }

    .tab-container {
        padding: 15px;
        padding-top: 200px;
    }

    .tab-3 .tab-container,
    .tab-4 .tab-container,
    .tab-5 .tab-container {
        padding: 15px;
    }

    .tab-3 .content-block img {
        width: 56px;
        height: 56px;
    }

    .radio__text {
        padding: 0 0 0 10px;
    }

    .form-radio label {
        height: 65px;
    }

    .radio:first-child .radio__text::after {
        border-top-left-radius: unset;
        top: -24px;
    }

    .radio__text:after {
        height: 68px;
        top: -13px;
    }

    .box-human {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
        box-shadow: none;
        height: 175px;
    }

    .box-human .box-human-container .human__title {
        font-size: 18px;
        width: 100%;
    }

    .box-human .box-human-container .human__fio {
        font-size: 12px;
        width: 100%;
    }

    .box-human .box-human-container .human__sub {
        font-size: 10px;
        width: 100%;
    }

    .menu .tab-link p {
        font-size: 16px;
        margin-left: 32px;
    }


    .bottom-menu {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .contacts {
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
        align-items: center;
    }

    .contacts p {
        margin-right: 0;
    }

    .links {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .links a {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .social {
        margin-top: 30px;
        margin-bottom: 20px;
        justify-content: center;
    }

    .social * {
        margin: 0 10px;
    }

    .opd {
        text-align: center;
    }

    .footer {
        flex-direction: column-reverse;
        width: 100%;
        margin-bottom: 50px;
    }

    .coop {
        text-align: center;
    }

    .main-container .btn-video {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 340px;
        z-index: 3;
        bottom: unset;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    }

    .main-container .btn-video:hover {
        position: absolute;
        left: unset;
    }

    .popup-video {
        z-index: 10;
    }

    .popup-video .video-box {
        width: 90%;
    }

    .popup-video iframe {
        width: 100% !important;
    }
}
@media (max-width: 1200px) {
    .popup-video iframe {
        height: 607px;
    }
}
@media (max-width: 700px) {
    .popup-video iframe {
        height: 354px;
    }
}
@media (max-width: 560px) {
    .popup-video iframe {
        height: 160px;
    }
}
@media (max-width: 320px) {
    .popup-video iframe {
        height: 289px;
    }
}